body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('C:/Users/tharu/OneDrive/Desktop/game 2d/game/src/assets/images/gamebackground.jpg');  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

 
.home-login-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  height: 450px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

 
.home-login-box h1 {
  font-family: inknut antiqua;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.home-login-box h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}

 
.home-login-box form {
  display: flex;
  flex-direction: column;
}

.home-login-box label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #333;
}

.home-login-box input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.home-login-box button {
  padding: 10px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.home-login-box button:hover {
  background-color: #004bcc;
}

 
.home-login-box p {
  font-size: 0.85rem;
  color: #333;
  margin-top: 10px;
}

.home-login-box p a {
  color: #0066ff;
  text-decoration: none;
}

.home-login-box p a:hover {
  text-decoration: underline;
}
